src/main/resources/results.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="Login">
    <xs:restriction base="xs:string">
        <xs:minLength value="3"/>
        <xs:pattern value="[a-zA-Z].*"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Mark">
    <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0.0"/>
        <xs:maxInclusive value="10.0"/>
        <xs:pattern value="\d+(\.\d)?"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="results">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="login" type="Login"/>
                        <xs:element name="tests">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="test" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                                    <xs:attribute type="xs:date" name="date" use="required"/>
                                                    <xs:attribute type="Mark" name="mark" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>