src/main/java/results.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.example.com/results"
            xmlns="http://www.example.com/results"
            elementFormDefault="qualified">

    <xsd:element name="results">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="student" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="login" type="xsd:string"/>
                            <xsd:element name="tests">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="test" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                                                        <xsd:attribute name="date" type="xsd:date" use="required"/>
                                                        <xsd:attribute name="mark" type="xsd:float" use="required"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
